[access]
	inheritFrom = All-Projects
[project]
	description = Windows Application Driver
[access "refs/*"]
	owner = group user/Shailesh Joshi (joshi2017)
[access "refs/for/refs/*"]
	read = group user/Shailesh Joshi (joshi2017)
	push = group user/Shailesh Joshi (joshi2017)
	label-Code-Review = -2..+2 group user/Shailesh Joshi (joshi2017)
	label-Verified = -1..+1 group user/Shailesh Joshi (joshi2017)
	rebase = group user/Shailesh Joshi (joshi2017)
	removeReviewer = group user/Shailesh Joshi (joshi2017)
	submit = group user/Shailesh Joshi (joshi2017)
[access "refs/heads/*"]
	read = group user/Shailesh Joshi (joshi2017)
	create = group user/Shailesh Joshi (joshi2017)
	push = +force group user/Shailesh Joshi (joshi2017)
	pushMerge = group user/Shailesh Joshi (joshi2017)
[access "refs/tags/*"]
	push = group user/Shailesh Joshi (joshi2017)
	push = +force group user/Shailesh Joshi (joshi2017)
